p,h1,h2,h3{
    color:gray;
}

.black_bg, .color_white{
    color:white;
    background-color:black;
}

#chocolate>li{
    color:chocolate;
}

#lime>li{
    color:lime;
}

table td{
    color:olive;
}

.blue{
    background-color:blue;
}

.red{
    background-color:red;
}

.red+div{
    background-color:purple;
}

table a + tr > td{
    color:salmon;
}

