*{
    color:red;
}

h1{
    color:rosybrown;
}

.blue{
    color:blue;
}

#green{
    color:green;
}

.pink{
    color:pink;
}

.bold{
    font-weight: bold;
}

h5 {
    width:50%;
}
div{
    width:50%;
}

h4{
    color:#387DE8;
}