.big-box {
  position: relative;
  margin: 100px auto 500px;
  border: 5px solid black;
  width: 500px;
  height: 500px;
}

.small-box {
  width: 100px;
  height: 100px;
}

#red {
  position:relative;
  background-color: red;
  top:400px;
  left:400px;
  /* 큰 사각형 내부의 우측 하단 모서리에 빨간 사각형 위치시키기 */
}

#gold {
  position:fixed;
  background-color: gold;
  bottom:50px;
  right:50px;
  /* 브라우저의 하단에서 50px, 우측에서 50px 위치에 고정하기 */
}

#green {
  position:absolute;
  background-color: green;
  top:200px;
  left:200px;
  /* absolute 이용해서 큰 사각형의 가운데 위치시키기 */
}

#blue {
  position:relative;
  background-color: blue;
  left:100px;
  /* relative를 사용해서 큰 사각형 좌측 상단 모서리에서 100px, 100px 띄우기 */
}

#pink {
  position:relative;
  background-color: pink;
  bottom:200px;
  /* 큰 사각형 내부의 좌측 상단 모서리로 옮기기*/
}

#purple {
  position:relative;
  background-color: purple;
  left:300px;
  /* 초록 사각형의 우측 하단 모서리에 보라 사각형 좌측 상단 모서리 맞대기 */
}

#orange {
  position:relative;
  background-color: orange;
  bottom:400px;
  left:200px;
  /* 파란 사각형 오른쪽 위 모서리에 오렌지 사각형 좌측 하단 모서리 맞대기 */
}

#silver {
  position:absolute;
  background-color:silver;
  top:200px;
  /* 파란 사각형 오른쪽 위 모서리에 오렌지 사각형 좌측 하단 모서리 맞대기 */
}

#skyblue {
  position:absolute;
  background-color:skyblue;
  top:200px;
  left:400px;
  /* 파란 사각형 오른쪽 위 모서리에 오렌지 사각형 좌측 하단 모서리 맞대기 */
}

#royalblue {
  position:absolute;
  background-color:royalblue;
  top:400px;
  left:200px;
  /* 파란 사각형 오른쪽 위 모서리에 오렌지 사각형 좌측 하단 모서리 맞대기 */
}

#firebrick {
  position:absolute;
  background-color:firebrick;
  top:100px;
  left:300px;
  /* 파란 사각형 오른쪽 위 모서리에 오렌지 사각형 좌측 하단 모서리 맞대기 */
}

#sandybrown {
  position:absolute;
  background-color:sandybrown;
  top:300px;
  left:100px;
  /* 파란 사각형 오른쪽 위 모서리에 오렌지 사각형 좌측 하단 모서리 맞대기 */
}

#palevioletred {
  position:absolute;
  background-color:palevioletred;
  top:400px;
  
  /* 파란 사각형 오른쪽 위 모서리에 오렌지 사각형 좌측 하단 모서리 맞대기 */
}

#seagreen {
  position:absolute;
  background-color:seagreen;
  bottom:400px;
  left:400px;
  
  /* 파란 사각형 오른쪽 위 모서리에 오렌지 사각형 좌측 하단 모서리 맞대기 */
}